<h1 class="h3 mb-4 text-gray-800">Administradores</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Administradores Cadastrado</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.email %></td>
              <td style="width: 100px">
                <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-success btn-circle btn-sm" do%>
                  <i class="fa fa-edit"></i>
                <% end %>
                <a href="#" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

